<!DOCTYPE html>
<html>

<head>
    <title>Contact Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="navbar">
        <a href="/">About</a>
        <a href="/projects">Publications</a>
        <a class="active" href="/contact">Contact</a>
    </div>

    <div class="container">

        <div class="bio">

            <h1>Contact</h1>

            <p>
                Email:
                <a href="mailto:kishore.narayanan677@gmail.com">
                    kishore.narayanan677@gmail.com
                </a>
            </p>

            <p>
                <a href="https://www.linkedin.com/in/kishore-narayanan-31347229a/"
                   target="_blank">
                   LinkedIn
                </a>
            </p>

        </div>

    </div>

</body>

</html>