<!DOCTYPE html>
<html>

<head>
    <title>Publications - Kishore Narayanan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="navbar">
        <a href="/">About</a>
        <a class="active" href="/projects">Publications</a>
        <a href="/contact">Contact</a>
    </div>

    <div class="container">

        <div class="bio">

            <h1>Publications</h1>

            <h2>Module 1 Assignment</h2>

            <p>
                This project is a personal developer website built using
                Python, Flask, HTML, CSS, and GitHub. The website was created
                as part of the Modern Software Concepts course at Johns Hopkins
                University and demonstrates foundational website development skills
                It will be used throughout the semester to showcase future projects in this course.
            </p>

            <p>
                <a href="https://github.com/kishn1234/jhu_software_concepts"
                   target="_blank">
                   View Project on GitHub
                </a>
            </p>

        </div>

    </div>

</body>

</html>