<!DOCTYPE html>
<html>

<head>
    <title>Publications - Kishore Narayanan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="navbar">
        <a href="/">About</a>
        <a class="active" href="/projects">Publications</a>
        <a href="/contact">Contact</a>
    </div>

    <div class="container">

        <div class="bio">

            <h1>Publications</h1>

            <h2>
                <a href="https://github.com/kishn1234/jhu_software_concepts"
                   target="_blank">
                   Module 1: Personal Website
                </a>
            </h2>

            <p>
                This project is a website displaying a basic student portfolio,
                built using Python, Flask, HTML, CSS, and GitHub. The website
                demonstrates foundational website development skills, and it
                will be used throughout the semester to showcase future projects
                in this course.
            </p>

        </div>

    </div>

</body>

</html>